/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/*  -------  SHARED STYLE  -------  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main { padding: 0 80px; }

section { margin: 50px 0 }

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.bold-font {
	font-size: 1.12rem; 
	font-weight: 800; 
}

.h800 {
	height: 800px; 
}

/* -------  HEADER  ------- */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

ol, ul {  list-style: none;  }

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 20px;
	font-size: 1.2em;
}

nav img  {  width: 30px;  }


li:hover { color: #B1663C;  }

/* -------  SECTION INTRODUCTION  ------- */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1.1
}

#introduction img {
	display: block;
	width: 100%;
	margin: 20px; 
}

#introduction article {
	flex: 0.9 ; 
	margin-left: 50px; 
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* -------  SECTION PHOTOS (PORTFOLIO) -------  */

/* Titre section */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Boutons Filtres */
.filters {
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin: 30px 0;
}

.filters button {
	font-size: 1.1rem ; 
	font-weight: bold;

	color: #1D6154;
	background: none;
	border-color: #1D6154;

	padding: 8px 30px;
	border-radius: 20px;
}

.filters button:hover {
	color: white; 
	background: #1D6154; 
	cursor: pointer; 
}

/* Gallerie photos */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	margin: 8px 0 ; 
}

/* -------  SECTIONS CONTACT , LOGIN  ------- */

#contact , #login {
	width: 50%;
	margin: auto;
}
#contact , #login > * {
	text-align: center;
}
#contact , #login h2{
	margin-bottom: 20px;
}
#contact , #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact , #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact , #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
	background: #0E2F28;
	cursor: pointer;
}

#login a {
	text-align: center; 
	text-decoration: underline;
}

#login a:hover {
	color: #B1663C;
}

/* -------  FOOTER  ------- */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em ; 
	font-size: 0.8em
}



/* -------  MEDIA QUERIES  ------- */

@media (max-width: 768px) {

}